*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

form {
    background-color: #99ccff;
}
fieldset{
    background-color:#cce6ff;
    border-radius: 10px;
    border-style: dotted;
    margin: 5px;
}

legend{
    font-size: 1.2rem;
    letter-spacing: 3px;
}

input, textarea{
    border-radius: 4px;
    border-width: 1px;
    border-color:#4da6ff;
}

input:focus, textarea:focus{
    background-color:  #80bfff;
}

input[type=submit]{
    border-color: black;
}

label{
    color: darkslategray;
}

input[type=text], input[type=email], input[type=tel], textarea{
    width: 100%;
}

td{
    padding-left: 5px;
    padding-right: 5px;
}

#SendButton{
    float: right;
}